# Bike Stats Analysis

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
station_df = pd.read_csv('./station.csv')

In [3]:
trip_df = pd.read_csv('./trip.csv', error_bad_lines=False)

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [4]:
weather_df = pd.read_csv('./weather.csv')

## What is the average trip duration for a borrowed bicycle?

In [5]:
trip_df.tripduration.mean()

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [6]:
(2019 - (trip_df.birthyear)).mode()

0    32.0
dtype: float64

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [7]:
weather_df['month'] = pd.DatetimeIndex(weather_df['Date']).month

In [8]:
weather_df.groupby('month').describe().Precipitation_In['mean']

month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: mean, dtype: float64

In [9]:
weather_df.groupby('month').median()['Precipitation_In']

month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

## What’s the average number of bikes at a given bike station?

In [10]:
station_df.groupby('station_id').describe().install_dockcount['mean']

station_id
BT-01     18.0
BT-03     16.0
BT-04     16.0
BT-05     14.0
CBD-03    20.0
CBD-04    18.0
CBD-05    20.0
CBD-06    20.0
CBD-07    20.0
CBD-13    18.0
CD-01     16.0
CH-01     16.0
CH-02     18.0
CH-03     16.0
CH-05     16.0
CH-06     16.0
CH-07     18.0
CH-08     28.0
CH-09     16.0
CH-12     18.0
CH-15     16.0
CH-16     18.0
DPD-01    18.0
DPD-03    30.0
EL-01     12.0
EL-03     18.0
EL-05     18.0
FH-01     16.0
FH-04     20.0
ID-04     16.0
PS-04     18.0
PS-05     18.0
SLU-01    18.0
SLU-02    18.0
SLU-04    18.0
SLU-07    18.0
SLU-15    12.0
SLU-16    20.0
SLU-17    18.0
SLU-18    20.0
SLU-19    12.0
SLU-20    20.0
SLU-21    20.0
SLU-22    18.0
UD-01     18.0
UD-02     18.0
UD-04     16.0
UD-07     16.0
UW-01     16.0
UW-02     12.0
UW-04     18.0
UW-06     12.0
UW-07     20.0
UW-10     16.0
UW-11     16.0
WF-01     18.0
WF-03     18.0
WF-04     18.0
Name: mean, dtype: float64

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [11]:
station_df[station_df.modification_date.notnull()][['install_dockcount','current_dockcount']].mean()

install_dockcount    17.529412
current_dockcount    13.764706
dtype: float64

In [14]:
print('Likely to lost bikes when modified by looking at that the current_dockcount mean is less than install_dockcount after the modification.')

Likely to lost bikes when modified by looking at that the current_dockcount mean is less than install_dockcount after the modification.

## What stations were decommissioned?

In [19]:
station_df[station_df.decommission_date.notnull()]

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
10,CD-01,12th Ave & E Yesler Way,47.602103,-122.316923,5/22/2015,16,8/9/2016,0,8/9/2016
26,FH-01,Frye Art Museum / Terry Ave & Columbia St,47.607281,-122.324783,10/13/2014,16,3/18/2016,0,3/18/2016
38,SLU-18,Dexter Ave & Denny Way,47.618285,-122.342205,10/13/2014,20,11/2/2015,0,7/2/2016
46,UW-01,UW McCarty Hall / Whitman Ct,47.660268,-122.304826,10/13/2014,16,10/29/2015,0,10/29/2015

## How many stations were placed in service each year?

In [23]:
station_df['year'] = pd.DatetimeIndex(station_df['install_date']).year

In [32]:
station_df.groupby('year').describe().install_dockcount['count']

year
2014    50.0
2015     5.0
2016     3.0
Name: count, dtype: float64

In [ ]:
## From what station did mo

In [35]:
trip_df.from_station_name.mode()

0    Pier 69 / Alaskan Way & Clay St
dtype: object